@model Tab30.Models.Repair

@{
    ViewBag.Title = $"Deleting Repair {Model.VendorCaseNo}";
}

<div class="container">
    <div class="row">
        <div class="my-5 col-10">
            <p class="text-danger">@ViewBag.ErrorMessage</p>
            <h4>Deleting: <span class="text-danger">@Html.DisplayFor(model => model.VendorCaseNo)</span></h4>
            <h5 class="text-danger">Are you sure?</h5>
        </div>
    </div>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RepairType.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RepairType.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tablet.TabletName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tablet.TabletName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tech.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tech.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VendorCaseNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VendorCaseNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IsClosed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsClosed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-primary" })
            </div>
        }
    </div>
</div>