@model IEnumerable<Tab30.Models.ProblemArea>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row my-5">
        <div class="col-sm-4">
            <h2 class="text-primary">Problem Types/Areas</h2>
        </div>
        <div class="col-sm-8">
            @Html.ActionLink("Create New", "Create", "ProblemAreas", null, new { @class = "btn btn-outline-primary" })
        </div>
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-sm btn-outline-primary" })  |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-sm btn-outline-danger" })
                </td>
            </tr>
        }

    </table>
</div>