@model Tab30.ViewModels.TabletViewModel

@{
    ViewBag.Title = "Tablet Details";
}

<h2 class="text-primary my-5">Tablet Details</h2>

<div class="container">
    <div class="row">
        <div class="col-3">
            <h4 class="text-primary">@Html.DisplayFor(model => model.TabletName)</h4>
        </div>
        <div class="col-9">
            <p class="text-muted text-lowercase">
                @Html.DisplayNameFor(model => model.CreatedOn)  @Html.DisplayFor(model => model.CreatedOn)
                @Html.DisplayNameFor(model => model.CreatedBy)  @Html.DisplayFor(model => model.CreatedBy);<br />
                @Html.DisplayNameFor(model => model.UpdatedOn) @Html.DisplayFor(model => model.UpdatedOn)
                @Html.DisplayNameFor(model => model.UpdatedBy) @Html.DisplayFor(model => model.UpdatedBy)
            </p>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <dl class="dl-horizontal col-6">
            <dt>
                @Html.DisplayNameFor(model => model.TabletName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TabletName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Make)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Make)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Model)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Model)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SerialNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SerialNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AssetTag)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AssetTag)
            </dd>

        </dl>
        <dl class="dl-horizontal col-6">


            <dt>
                @Html.DisplayNameFor(model => model.WarrantyExpiresOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WarrantyExpiresOn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ADPEnabled)
            </dt>
            <dd>

                @(Model.ADPEnabled == true ? "Yes" : "No")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsOutOfCirculation)
            </dt>
            <dd>
                @(Model.IsOutOfCirculation == true ? "Yes" : "No")
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Location.ShortDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location.ShortDescription)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.User.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.FullName)
            </dd>
        </dl>

    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-primary" })
</p>
<div class="modal-header">
    <h4 class="text-primary">
        Repair History
        @Html.ActionLink("Add Repair", "Save", "Repairs", new { TabletID = Model.ID }, new { @class = "btn btn-sm btn-outline-primary" })
    </h4>
</div>

@{
    // can you find a better solution
    var r = Model.Repairs.FirstOrDefault();
}

<table class="table table-condensed table-striped">
    <tr>
        <th> @Html.DisplayNameFor(m => r.VendorCaseNo)</th>
        <th> @Html.DisplayNameFor(m => r.ProblemAreas)</th>
        <th> @Html.DisplayNameFor(m => r.Description)</th>
        <th> @Html.DisplayNameFor(m => r.RepairType)</th>
        <th> @Html.DisplayNameFor(m => r.CreatedOn)</th>
        <th> @Html.DisplayNameFor(m => r.ClosedOn)</th>
    </tr>
    @foreach (var repair in Model.Repairs)
    {
        <tr>
            <td>
                @Html.ActionLink(@Html.DisplayFor(m => repair.VendorCaseNo).ToString(), "Edit", "Repairs", new { id = repair.ID }, new { @class = "btn btn-sm btn-outline-primary" })
            </td>
            <td>
                <ul class="list-unstyled">
                    @foreach (var item in repair.ProblemAreas)
                    {
                        <li>@Html.DisplayFor(m => item.Description)</li>
                    }
                </ul>
            </td>
            <td>
                @Html.DisplayFor(m => repair.Description)

            </td>
            <td>
                @Html.DisplayFor(m => repair.RepairType.Description)
            </td>

            <td>
                @Html.DisplayFor(m => repair.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(m => repair.ClosedOn)
            </td>
        </tr>
    }
</table>

<p>

</p>
