@model IEnumerable<Tab30.Models.Tablet>

<table id="tablets" class="table table-hover" cellpadding="2">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TabletName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.FullName)
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                
                @Html.ActionLink(@Html.DisplayFor(m => item.TabletName).ToString(), "Details", "Tablets", new { id = item.ID }, new { @class = "displayblock btn btn-sm btn-outline-primary" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
        </tr>
    }

</table>
