@model Tab30.Models.PartOrder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PartOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Part.PartNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Part.PartNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPartReceived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPartReceived)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceivedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepaidID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepaidID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
