@model Tab30.Models.Location

@{
    ViewBag.Title = $"Edit Location - {Model.ShortDescription}";
}

<div class="container">
    <div class="row">
        <div class="my-5 col-4">
            <h4>Editing: <span class="text-primary">@Html.DisplayFor(model => model.LongDescription)</span></h4>
        </div>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)

            <div class="form-group">
                @Html.LabelFor(model => model.ShortDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ShortDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LongDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LongDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LongDescription, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" /> |
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-primary" })
                </div>
            </div>
        </div>
    }

    <div>
       
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
