@model IEnumerable<Tab30.Models.Location>

@{
    ViewBag.Title = "Locations";
}

<div class="container">
    <div class="row">
        <div class="my-5 col-4">
            <h2 class="text-primary">Tablets</h2>
        </div>
        <div class="my-5 col-8">
            @Html.ActionLink("Create New", "Create", "Locations", null, new { @class = "btn btn-outline-primary" })
        </div>
    </div>

    <table class="table table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LongDescription)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LongDescription)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-sm btn-outline-primary" })  |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-sm btn-outline-primary" })
                </td>
            </tr>
        }

    </table>
</div>
